@model WebBanVeXemPhim.Models.TaiKhoanAdmin

<div id="hienthi" class="hienthi">
    <button class="close-btn" onclick="closeSidebar()">×</button>
    <h3>Chi tiết tài khoản</h3>
    @if (Model != null)
    {
        <p><strong>Họ tên:</strong> @Model.HoTen</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Mật Khẩu:</strong> @Model.MatKhau</p>
        <p><strong>Số điện thoại:</strong> @Model.SoDienThoai</p>
        <p><strong>Chức vụ:</strong> @Model.ChucVu</p>
        <p><strong>Trạng thái:</strong> @if (Model.TrangThai == true)
            {
                <span style="color:green"> Đang hoạt động</span>
            }else { <span style="color:red">Khóa</span>}
        </p>
    }
    else
    {
        <p>Vui lòng chọn tài khoản để xem chi tiết</p>
    }
</div>
